/* CSS Document */
*{margin: 0;padding: 0;}
body{font-size:12px;font-family: "微软雅黑";color: #000;	background:url(../img/bg.jpg)repeat-x; height:6000px;width:100%; position:relative;}
a{text-decoration:none;color:#333333;}
img{border:none;}
ul li,ol li,dl dt dd{list-style:none;}
.clearfix:after{content:""; display:block; clear:both; height:0; font-size:0; visibility:hidden;}
.clearfix{zoom:1;}
.fl{ float:left;}
.fr{ float:right;}


.wrapper{width:1200px; margin:0 auto;}


/*top*/
.top .topimg{ width:100%;}
.content .chuan{ position:absolute;top:700px; left:660px;}
.content .pp{font-size:30px;color:#b8b5c0;position:absolute;top:808px; left:636px;}
.content .cont { text-align:center;position:absolute;top:865px;left:400px;}
.cont p{line-height:52px;}
.cont .p1{font-size:52px;color:#5a3c7c;}
.cont .p2{ font-size:16px;color:#5a3c7c;}
.cont .p3{font-size:30px;color:#5a3c7c;}
.cont .p4{font-size:22px;color:#5a3c7c;}

/*cont1,cont2,cont3*/
.cont1{ text-align:center;}
.cont1 .pic1{ float:left; margin:20px 0 10px 40px;}
.cont1 ul{height:550px; margin:20px 0 0 110px;}
.cont1 li{height:134px; float:left;}
.cont1 li img{ float:left;margin-left:30px;}
.cont1 li p{ width:910px;height:110px; font-size:30px;color:#b693b4;line-height:110px;float:left; text-align:left; margin-left:40px; }


/*footer*/
.footer{ text-align:center;}
.footer h3{font-size:36px;color:#000;}
.footer strong{ color:#593b7b;font-size:58px;}
.footer p{font-size:50px; color:#593b7b;letter-spacing:2px; margin:0 0 10px 50px;}
.footer span{ font-size:60px;color:#000;}
.footer .foot{ width:100%;}
